
.container{
    .curso{
        width: 33rem;
        height: auto;
        border-radius: 0.8rem;
        box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.2);
        overflow: hidden;
        text-align: center;
        transition: all 0.25s;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .curso:hover{
        transform: translateY(-15px);
        box-shadow: 0 1.2rem 1.6rem rgba(0,0,0,0.2);
    }
    .curso img{
        width: 33rem;
        height: 22rem;     
    }
    .curso h4{
        font-weight: 600;
    }
    .curso p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
}